.empty-cart {
  text-align: center;
  background-color: rgb(243, 111, 111);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.empty-cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.empty-cart p {
  font-size: 18px;
  margin-bottom: 8px;
}

.orden-generada {
  text-align: center;
  background-color: rgb(151, 243, 111);
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 900px;
  margin: 0 auto;
  margin-top: 7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.box-cart {
  margin: 5rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
