.imagen-personalizada {
  width: 250px !important;
  height: 350px !important;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.bg {
  background-color: hsla(0, 45%, 37%, 0.534);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
